.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.image-wrap {
  flex: 0 1 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.subtext {
  font-size: 12px;
  width: 64px;
  height: 12px;
  overflow: hidden;
  margin: 0;
}
